.wrapper {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.emailInput {
  margin-bottom: 16px;
}

.footer {
  font-size: 14px;
  color: var(--colorGreyMedium);
  text-align: center;
  margin-top: 16px;
}

.footerText {
  margin-right: 4px;
}

.text {
  margin-top: 0;
}

.title {
  margin-top: 0;
}

.errorText {
  margin-bottom: 16px;
}
