.wrapper {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.emailInput {
  margin-bottom: 16px;
}

.submitButton {
  margin-top: 16px;
}

.forgotPassword {
  margin: 16px 0;
  text-align: end;
  font-size: 14px;
}

.agreement {
  margin-top: 16px;
}

.footer {
  font-size: 14px;
  color: var(--colorGreyMedium);
  text-align: center;
  margin-top: 16px;
}

.footerText {
  margin-right: 4px;
}

.passwordInput {
  margin-bottom: 16px;
}

.title {
  margin-top: 0;
}

.errorText {
  margin-top: 16px;
}